.home {
  position: relative;
  width: 100%;
  display: flex; justify-content: center;
}
.home-wrap {
  width: 1224px;
  display: grid; gap: 120px;
  padding: 160px 20px;
}

@media screen and (max-width: 768px) {
  .home-wrap {
    gap: 80px;
  }
}