@font-face {
  font-family: 'jetbrains-mono-reguler';
  src: url('../../assets/fonts/jetbrains-mono/JetBrainsMono-Regular.ttf');
}
@font-face {
  font-family: 'averta-bold';
  src: url('../../assets/fonts/averta-standard/averta-semibold.ttf');
}
@font-face {
  font-family: 'averta';
  src: url('../../assets/fonts/averta-standard/averta-regular.ttf');
}

* {
  padding: 0; margin: 0;
  border: none; outline: none;
}
body {
  font-family: averta;
  -moz-transition: background-color 0.5s ease-in;
  -o-transition: background-color 0.5s ease-in;
  -webkit-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
  background: #ffffff;
  color: #000000;
}
p, input, textarea, button {
  font-size: 1rem;
  border-radius: 0;
}

.loading {
  position: fixed;
  width: 100%; height: 100%;
  display: flex; justify-content: center; align-items: center;
  background: #ffffff;
  transition: cubic-bezier(.98,.01,.03,.99) 0.3s;
  z-index: 9;
}
.cookie {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex; justify-content: flex-end;
  transform: translate(0, 100%);
  opacity: 0;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) 0.3s;
  z-index: 9;
}
.cookie-wrap {
  padding: 20px;
  transform: translate(0, -100%);
  width: 450px;
  transition-delay: 0.5s;
}
.cookie .box {
  background: #1a1b1e;
  color: #ffffffdd;
  padding: 20px;
  display: grid; justify-items: flex-start;
}
.cookie .box .title {
  font-family: averta-bold;
  color: #ffffff;
}
.cookie .box .paragraf {
  margin: 10px 0 20px 0;
  font-size: 0.95rem;
}
.cookie .box .paragraf .link {
  color: #ffffffdd;
  text-decoration: none;
  border-bottom: 1px solid #ffffffdd;
  border-bottom-style: dashed;
  padding: 0 0 1px 0;
}
.cookie .box .action {
  display: flex; align-items: center;
  gap: 10px;
}
.cookie .box .action .btn {
  background: transparent;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 0 0 1px 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  p, input, textarea, button {
    font-size: 0.95rem;
  }
  .cookie-wrap {
    padding: 0;
  }
}