.footer {
  position: relative;
  width: 100%;
  display: flex; justify-content: center;
}
.footer-wrap {
  width: 1224px;
  display: grid; grid-template-columns: 1fr auto; gap: 40px 20px;
  align-items: flex-start;
  padding: 20px;
  grid-template-areas:
  "wrapper01 wrapper02"
  "wrapper03 wrapper03";
}
.footer a {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #000000;
  padding: 0 0 1px 0;
}
.footer a:hover {
  color: #000000;
}
.footer .wrapper01 {
  grid-area: wrapper01;
  display: grid; gap: 10px;
}
.wrapper01 .title {
  font-family: averta-bold;
  color: #000000;
}
.wrapper01 .contact {
  display: flex; align-items: center; flex-wrap: wrap;
  gap: 10px;
}
.wrapper02 {
  grid-area: wrapper02;
  display: flex; justify-content: flex-end;
}
.wrapper02 .media-social {
  display: flex; align-items: center;
  gap: 10px;
}
.wrapper03 {
  grid-area: wrapper03;
  display: flex; justify-content: space-between; align-items: flex-end;
}
.wrapper03 .theme .btn {
  background: transparent;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.wrapper03 .theme .btn:hover {
  border-bottom: 1px solid #1a1b1e;
}

@media screen and (max-width: 768px) {
  .footer-wrap {
    grid-template-columns: 1fr;
    grid-template-areas:
    "wrapper01"
    "wrapper02"
    "wrapper03";
  }
  .wrapper02 {
    justify-content: flex-start;
  }
}