.navbar {
  position: absolute;
  width: 100%;
  display: flex; justify-content: center;
  z-index: 8;
}
.navbar-wrap {
  width: 1224px;
  display: flex; justify-content: space-between; align-items: center;
  padding: 20px;
}
.menu {
  display: flex; align-items: center;
  gap: 10px;
}
.menu .link {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #000000;
  font-family: averta-bold;
}

/* darkmode */
.link.dark {
  border-color: #ffffffdd;
  color: #ffffffdd;
}